body {

	/*background-color: #DCDCDC;*/
	background-image: url(https://i.pinimg.com/236x/5e/67/9c/5e679c3a98c1f8c8b0d41b8c01092308.jpg);
}

a {
	color:#B8860B;
	text-decoration: unset;
	font-family: 'Segoe-UI', Tahoma, Geneva, Verdana, sans-serif;
}

#cabecalho {

	border: black 1px solid;
	border-radius: 10px;
	padding-left: 50px;
	margin-bottom: 40px;
	box-shadow: black 2px 2px 5px
}

h1 {

	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	justify-content: center;
	text-shadow: gray 1px 1px 5px;
	margin-top: -5%;

}

img {
	width: 18%;
}

#noticias {

	display: flex;
	justify-content: space-between;
	margin-top: 14px;
}

#noticiasImportantes {

	display: flex;
	justify-content: space-between;
}

#navbar {

	display: flex;
	justify-content: space-around;
	margin-bottom: 30px;
	border: black 1px solid;
	border-radius: 10px;
	box-shadow: black 2px 2px 5px;
	height: 24px;
}

.noticiasDestaque img {

	width: 100%;
	border-radius: 10px;
}

.noticiasDestaque iframe {

	width: 400px; 
	height: 315px;
	border-radius: 10px;
}

#tituloDestaque {

	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	justify-content: center;
	text-shadow: gray 1px 1px 5px;
}

.noticiasDestaque {

	/*display: flex;
	justify-content: center;*/
	border: gray 1px solid;
	margin-left: 10px;
	margin-right: 10px;
	box-shadow: black 2px 2px 3px;
	border-radius: 10px;
}

.imgDestaque {

}

.textoDesc {

	font-family: 'Segoe-UI', Tahoma, Geneva, Verdana, sans-serif;
	margin-left: 10px;
	margin-right: 10px;
	text-align: justify;
}

#todoConteudo {

	background-color: #FFFAFA;
	margin-left: 5%;
	margin-right: 5%;
	padding: 2%
}